*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* Usei o seletor universal para resetar a página */

body{
    display: grid;
    place-content: center;
    background-color: #09042A;
}
/* Selecionei o corpo da página apliquei a cor de fundo e adicionei as propriedades para posicionar a div */

div{
    margin-top: 100px;
    width: 60vw;
    height: 70vh;
    display: grid;
    place-content: center;
}
/* Defini a posição da div e o tamanho dela, também defini o método em que os itens seriam colocados na div */

.quadrado1{
    background-color: #E78481;
    width: 25vw;
    height: 15vh;
    margin-bottom: -170px;
    margin-top: 300px;
}
/* Defini o tamanho, posição e cor do primeiro quadrado que causa a ilusão da imagem */

.circulo1{
    width: 12vw;
    height: 25vh;
    background-color: #F5BB9C;
    border-color: #09042A;
    border-style: solid;
    border-width: 20px;
    border-radius: 300px;
    margin-left: 130px;
    z-index: 1;
}
/* Defini a posição no plano de profundidade da pagina, tamanho, bordas e cor */

.circulo2{
    width: 12vw;
    height: 24vh;
    background-color: #F5BB9C;
    border-color: #09042A;
    border-style: solid;
    border-width: 16px;
    border-radius: 300px;
    margin-top: -500px;
    margin-left: 130px;
    z-index: 1;
}
/* Defini a posição no plano de profundidade da pagina, tamanho, bordas e cor */

.circulo3{
    width: 12.5vw;
    height: 25vh;
    background-color: #09042A;
    border-color: #E78481;
    border-style: solid;
    border-width: 20px;
    border-radius: 300px;   
}
/* Defini a posição no plano de profundidade da pagina, tamanho, bordas e cor */

.circulo3{
    width: 12.5vw;
    height: 25vh;
    background-color: #09042A;
    border-color: #E78481;
    border-style: solid;
    border-width: 25px;
    border-radius: 300px;
    margin-top: -373px;
    margin-left: -56px;
}
/* Defini a posição no plano de profundidade da pagina, tamanho, bordas e cor */

.circulo4{
    width: 12.5vw;
    height: 25vh;
    background-color: #09042A;
    border-color: #E78481;
    border-style: solid;
    border-width: 20px;
    border-radius: 300px;
    margin-top: -77%;
    margin-left: 65%;
}
/* Defini a posição no plano de profundidade da pagina, tamanho, bordas e cor */